# global gitignore 

# No ENVs anywhere
.env*
.venv*
*/.env*
*/.venv*
*/*/.env*
*/*/.venv*
*/*/*/.env*
*/*/*/.venv*

# no .next or .vercel
*/.next
*/.vercel
*/*/.next
*/*/.vercel
.DS_Store
*/.DS_Store
*/**/.DS_Store

# no data
apps/**/*.jsonl
apps/*.tsv
apps/*/*.tsv
apps/*/*/*/*.tsv
apps/*.csv
apps/*/*.csv
apps/*/*/*.csv
apps/*/*/*/*.csv
apps/movie-recommendations/model/data/ml-latest-small/links.csv
apps/movie-recommendations/model/data/ml-latest-small/movies.csv
apps/movie-recommendations/model/data/ml-latest-small/ratings_2018.csv
apps/movie-recommendations/model/data/ml-latest-small/tags.csv
apps/movie-recommendations/model/data/processed/movie_posters_scraped.csv
