version: v2
name: shaped_blog_semantic_search_and_rag

data:
  item_table:
    type: query
    query: |
      select 
        toDateTime(toInt64(created_at) / 1000) as created_at_datetime,
        article_id,
        item_id,
        author,
        categories,
        chunk_metadata,
        content,
        created_at,
        featured,
        main_image,
        name,
        popular,
        read_length_in_mins,
        release_date,
        roles,
        slug,
        updated_at,
        url
      from blog_articles_chunked
      order by created_at_datetime asc

index:
  lexical_search:
    item_fields:
      - name
      - content
      - author
      - categories
      - roles

  embeddings:
    - name: content_embedding
      encoder:
        type: hugging_face
        model_name: Alibaba-NLP/gte-modernbert-base
        item_fields:
          - name
          - content
          - roles